<div class="row backgroundwhite">
  <div class="card card-question border-card">
    <div class="banner-question u-section-2">
      <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">PORTAFOLIO</h3>
      <h2 class="u-heading-font u-text u-text-2">PROYECTOS RECIENTES</h2>
      <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    </div>
    <br>
      {{> errors}}

    <fieldset class="fieldset-question">
      <legend class="legend-question">Reservation Details</legend>
      <div class="card-body">
        <form action="/questions/new-question" method="POST">
          <div class="mt-3">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="Title"  maxlength="100" autofocus>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="mt-3">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control" placeholder="description" maxlength="10"></textarea>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="mt-3">
            <label for="tags-id">Tags</label>
            <div class="container-tag2">
              <div class="div"><input class="tag-input" id="tags-id" type="text"></div>
              <div class="tags-added-container" contenteditable="false"></div>
            </div>
          </div>
          <small id="emailHelp" class="form-text text-muted">Add your tags so experts can find your questions</small>


          <div class="mt-3">
            <label for="description">Reward</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$US</span>
              </div>
              <input type="number" name="reward" min="0.00" max="10000.00" step="0.1" />
            </div>
            <small id="emailHelp" class="form-text text-muted">Specify the amount you will pay to see the
              answers.</small>
          </div>
          <div class="mt-3 container-button">
            <button class="button-main-1 mt-5" type="submit"> Save </button>
          </div>
        </form>
      </div>
    </fieldset>

  </div>