<div class="row backgroundwhite">
  <div class="card card-question border-card">
    <div class="banner-question u-section-2">
      <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">QUESTIONS</h3>
      <h2 class="u-heading-font u-text u-text-2">NEW QUESTIONS</h2>
      <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    </div>

    <br>
    <div class="tm-main row justify-content-md-center margin-x-0">
      <fieldset class="fieldset-question col-md-7">
        <legend class="legend-question">Do a new Question</legend>
        <div class="card-body"> 
          <form action="/questions/new-question" method="POST" enctype="multipart/form-data">
            <div class="mt-3">
              <label for="title">Title</label>
              <input type="text" id="title" name="title" class="form-control" placeholder="Title" maxlength="100"
                value="{{title}}" required="required" autofocus>
              <small id="emailHelp" class="form-text text-muted">Write a short summary of your question.</small>
            </div>
            <div class="mt-3">
              <label for="description">Description</label>
              <textarea id="description" name="description" class="form-control trumbowyg-textarea"
                placeholder="description" required="required" value="{{description}}"></textarea>
              <small id="emailHelp" class="form-text text-muted">Describe your question in detail.</small>
            </div>
            <div class="mt-3">
              <label for="image">Image</label>
           <input type="file" id="image" 
                       name="image" value=""  onchange="view()"  >
              <small id="emailHelp" class="form-text text-muted">Describe your question in detail.</small>
            </div>
            <div class="mt-3">
              <label for="tags-id">Tags (for each tag press "Add")</label>
              <div class="container-tag2">
                <div class="div"><input class="tag-input" id="tags-id" name="tags-id" type="text"></div>
                <button type="button" id="" class="btn btn-info button-add-tags "> Add Tag</button>
                <div class="tags-added-container" contenteditable="false"></div>
              </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Add your tags so experts can find your questions </small>


            <div class="mt-3 reward-container">
              <div class="reward-sub-container row">
                <div class="reward-left col-md-9">
                  <div class="reward-left-item">
                    <label for="description">Reward</label>
                    <div class="input-group justify-content-center">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$US</span>
                      </div>
                      <input type="number" class="reward"
                        onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" id="reward"
                        name="reward" min="3" max="30" step="0.1" value="{{reward}}" required="required" />
                    </div>
                    <small id="emailHelp" class="form-text text-muted">
                      The amount that the person with the best answer will receive as a reward.</small>
                  </div>
                  <div class="reward-left-item">
                    +
                  </div>
                  <div class="reward-left-item">
                    <small class="reward-left-item-small">
                      PRICEANSWERS REWARD (12%)
                    </small>
                    <div class="sub-price">
                      <p id="priceanswers-reward"></p>
                    </div>
                  </div>
                  <div class="reward-left-item">
                    +
                  </div>
                  <div class="reward-left-item">
                    <small class="reward-left-item-small">
                      TRANSACTION FEE 
                    </small>
                    <small class="reward-left-item-small">
                       (10% + 0.5 USD)
                    </small>
                    <div class="sub-price">
                      <p id="paypal-reward"></p>
                    </div>
                  </div>
                  <div class="reward-left-item">
                    =
                  </div>
                </div>
                <div class="reward-right col-md-3">
                  <div class="reward-right-item">
                    <small class="reward-right-small">TOTAL TO PAY</small>
                    <span id="total-reward" class="f-w-600"></span>
                    <small id="emailHelp" class="form-text reward-right-text">Specify the amount you will pay to see the
                      answers.</small>
                  </div>

                </div>
              </div>

            </div>
            <div class="mt-3 container-button">
              <button class="button-main-1 mt-5" type="submit"> Save </button>
            </div>
          </form>
        </div>
      </fieldset>
    </div>

  </div>