<link rel="stylesheet" href="/css/cards-main.css">

<!-- Search form -->
<div class="row card border-card">
  <!--  HEADEER --->
  <div class="banner-question u-section-2">
    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">HOME</h3>
    <h2 class="u-heading-font u-text u-text-2">SUPERADMIN</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
  </div>
  <!-- /HEADER -->

  <div class="tm-main row justify-content-md-center margin-x-0">

    <div class="container">
      <header class="section-header wow fadeInUp" style="margin-top:1rem">
        <h3>Bienvenido Superadmin a DEPTOMIN! </h3>
        <p style="padding-bottom: 10px; margin-top:10px;">¿Que es lo que desea hacer?</p>
      </header>
      <div class="row wow fadeInUp" style="margin-top:1rem">
        <div class="offset-md-2 col-md-4 " style="margin-top:1rem">
          <h4 class="text-center"><strong>ADMINISTRAR EDIFICIOS</strong></h4>
          <hr>
          <a href="/superadmin/alledificios">
          <div class="profile-card-2 residente-img size-1">
          <div class="inner-div-residente">
            <div class="profile-name">ADMINISTRAR</div>
            <div class="profile-username">Visualiza todos los edificios a cargo, agrega, modifica o elimina</div>
            <div class="profile-icons"><div class="icon"><i class="ion-ios-people-outline"></i></div></div>
          </div>
          </div>
          </a>
        </div>
        <div class="col-md-4" style="margin-top:1rem">
          <h4 class="text-center"><strong>ADMINISTRADOR</strong></h4>
          <hr>
          <a href="/main/selectcargo/administrador">
          <div class="profile-card-2 administrador-img size-1">
                <div class="inner-div-administrador">
            <div class="profile-name">ADMINISTRADOR</div>
            <div class="profile-username">Eres administrador de un edificio que utiliza DEPTOMIN </div>
            <div class="profile-icons"><div class="icon"><i class="ion-clipboard"></i></div></div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>

  </div>