<link rel="stylesheet" href="/css/cards-main.css">
<!-- Search form -->
<div class="row card border-card">
  <!--  HEADEER --->
  <div class="banner-question u-section-2">
    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">RESIDENTE</h3>
    <h2 class="u-heading-font u-text u-text-2">ENCUESTAS</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
  </div>
  <!-- /HEADER -->

  <div class="tm-main row justify-content-md-center margin-x-0">

    <div class="container">
      <div class="col-md-12">
        <button onclick="history.back()" class="btn btn-info button-atras">
          <div class="icon"><i class="ion-ios-arrow-left" style="font-size: 25px;"></i></div>
        </button>
      </div>
      <header class="section-header-dash wow fadeInUp" style="margin-top:0rem">
        <h3>Bienvenido/a {{user_info.name}} </h3>
      </header>
      <div class="row wow fadeInUp" style="margin-top:0.5rem">
        <div class="col-4 " style="margin-top:1rem;padding-right: 5px;padding-left: 5px;">
          <hr style="margin-top: 0;">
          <a href="/residente/muro-admin/">
            <div class="card-dash-1 admin-img">
              <div class="inner-div-admin">
                <div class="profile-name">Muro Administradores</div>
                <div class="profile-icons">
                  <div class="icon"><i class="ion-ios-people-outline"></i></div>
                </div>
                <div class="profile-username">Visualiza las noticias y publicaciones realizadas por administrador/es del
                  condominio.</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 " style="margin-top:1rem;padding-right: 5px;padding-left: 5px;">
          <hr style="margin-top: 0;">
          <a href="/administrador/addedificio">
            <div class="card-dash-1 residente-img">
              <div class="inner-div-residente">
                <div class="profile-name">Muro Residentes</div>
                <div class="profile-icons">
                  <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                </div>
                <div class="profile-username">Visualiza las solicitudes y publicaciones realizada por los residentes del
                  condominio.</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 " style="margin-top:1rem;padding-right: 5px;padding-left: 5px;">
          <hr style="margin-top: 0;">
          <a href="/administrador/addedificio">
            <div class="card-dash-1 agendar-img">
              <div class="inner-div-agendar">
                <div class="profile-name">Agendar</div>
                <div class="profile-icons">
                  <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                </div>
                <div class="profile-username">Visualiza la disponibilidad de quinchos, jacuzzi, gimnasios y con tan solo
                  unos clicks. </div>
              </div>
            </div>
          </a>
        </div>
      </div>


      <div class="col-md-10 offset-md-1" style="margin-top:1rem;padding-right: 5px;padding-left: 5px; text-align:center">
      <img src ="/img/calendar.png" style="width:90%" >

      </div>

      <div class="col-md-12 wow fadeInUp" style="margin-right: auto; margin-left: auto">
        <div class="row ">


          <!-- Pagination -->
          <div class="pagination-container col-md-12">
            <nav class="pagination-nav" aria-label="Page navigation example ">
              <ul class="pagination">
                <!-- si existen filtros entonces los paginations serán form -->

                <form method="POST" id="formprev" action="/questions/allquestionsfilter" class="">
                  <li class="page-item">
                    <a class="page-link" href="javascript:;"
                      onclick="document.getElementById('formprev').submit();">Previous
                    </a>
                  </li>
                  <input type="hidden" name="skip" value="{{skipObject.prevSkip}}">
                </form>
                <li class="page-item"> <a class="page-link">Page {{skipObject.nextSkip}}</a>
                </li>
                <form method="POST" id="formnext" action="/questions/allquestionsfilter" class="">
                  <li class="page-item">
                    <a class="page-link" href="javascript:;"
                      onclick="document.getElementById('formnext').submit();">Next</a>
                  </li>
                  <input type="hidden" name="skip" value="{{skipObject.nextSkip}}">

                </form>


              </ul>
            </nav>
          </div>
          <!-- end pagination -->
        </div>
      </div>

    </div>

  </div>
</div>