<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ad dolores quae ipsa aperiam recusandae neque maxime, nam fuga rerum. Velit laborum cum quod iure atque tempora, exercitationem dignissimos modi!</p>
  </div>
</div>