<div class="row card border-card">
  <div class="card card-question border-card">
    <div class="banner-question u-section-2">
      <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">PORTAFOLIO</h3>
      <h2 class="u-heading-font u-text u-text-2">PROYECTOS RECIENTES</h2>
      <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    </div>
    <br>
    {{> errors}}


    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>WARNING! Your account in Paypal is not verified</h3>
          <p>
            Please verify your account and payment method on Paypal.</p>
          <div class="row justify-content-md-center">
            <a href="https://www.paypal.com"> <button class="button-main-4">Go to Paypal</button></a>
          </div>

        </header>


      </div>
    </section>

  </div>
</div>