<div class="row card border-card">
  <div class="card card-question border-card">
    <div class="banner-question u-section-2">
      <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">USER</h3>
      <h2 class="u-heading-font u-text u-text-2">USER NOT VERIFIED</h2>
      <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    </div>
    <br>
  


    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>WARNING! Your paypal account is associated with "India" so we could not accept your account</h3>
          <p>
            Unfortunately, PAYPAL is not accepting money transfers from abroad to India, so we recommend creating another Paypal account with another country. Sorry for the inconvenience</p>
          <div class="row justify-content-md-center">
            <a href="https://www.paypal.com"> <button class="button-main-4">Go to Paypal</button></a>
          </div>

        </header>


      </div>
    </section>

  </div>
</div>