<div class="row card border-card">
  <div class="card card-question border-card">
    <div class="banner-question u-section-2">
      <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">USER</h3>
      <h2 class="u-heading-font u-text u-text-2">PAYPAL ACCOUNT</h2>
      <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    </div>
    <br>
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Congrats! your PAYPAL account is verified and your email is: {{email_paypal}} </h3>
          <p>
            You can now answer the question you want, don't wait any longer and earn money.</p>
          <div class="row justify-content-md-center">
            <a href="/questions/allquestions"> <button class="button-main-4">Answer a
                Question!</button></a>
          </div>

        </header>


      </div>
    </section>

  </div>
</div>