<div class="row card border-card">
  <div class="card card-question border-card">
    <div class="banner-question u-section-2">
      <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">USER</h3>
      <h2 class="u-heading-font u-text u-text-2">PAYPAL ACCOUNT</h2>
      <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    </div>
    <br>
    <section id="services">
      <div class="container">
        <header class="section-header wow fadeInUp">
          <h3>Congratulations! We are waiting for the payment verification, we will send you an email when it is completed and you can see the answers.</h3>
          <p> Press the following button to redirect to your questions.</p>
          <div class="row justify-content-md-center">
            <a href="/questions/ownquestions"> <button class="button-main-4">See your Question!</button></a>
          </div>
        </header>
      </div>
    </section>

  </div>
</div>