<!---- MODAL DE CONFIRMACIÓN ---->
<div class="modal fade " id="add-tags-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg " role="dialog">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel"> Welcome to Priceanswers</h5>
        <button id="close-best-answer" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-1 row">
        <div class="col-md-12 ">

          <h5 class="h5-modal-aq"> 
We recommend adding tags that interest you so that we notify you when questions with those tags are added</h5>
            <button class="button-main-4 button-modal-aq"  data-dismiss="modal">
              Understood!
            </button>
   
        </div>
      </div>

    </div>
  </div>
</div>