<!---- MODAL DE CONFIRMACIÓN ---->
<div class="modal fade " id="answer-or-question-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg " role="dialog">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel"> Welcome to Priceanswers</h5>
        <button id="close-best-answer" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-1 row">
        <div class="col-md-6 answer-aq">
          <div class="img">
            <img src="../img/back5.jpg" alt="" class="img-fluid">
          </div>
          <h5 class="h5-modal-aq"> Do you need expert answers to your question?</h5>
          <a href="/users/answerorquestion/question" pa-marked="1">
            <button class="button-main-4 button-modal-aq" pa-marked="1">
              Get answers!
            </button>
          </a>
        </div>
        <div class="col-md-6 ">
          <div class="img">
            <img src="../img/back2.jpg" alt="" class="img-fluid">
          </div>
          <h5 class="h5-modal-aq"> Are you an expert and want to answer questions?</h5>
          <a href="/users/answerorquestion/answer" pa-marked="1">
            <button class="button-main-3 button-modal-aq" pa-marked="1">
              Earn money answering!
            </button>
          </a>
        </div>



      </div>

    </div>
  </div>
</div>