<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PLEASE VERIFY YOUR PAYMENT ACCOUNT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="first-modal-class">
          We need your account to be verified again, we do this to ensure that the payment is made correctly.
        </div>
        <div class="second-modal-class">
          If you are chosen as the "best answer" in a question the payment will be automatically transferred to this
          account. So it needs to be constantly verified by you.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <a href="/paypal/addcustomer"> <button type="button" class="btn btn-primary">Verify account</button> </a>
      </div>
    </div>
  </div>
</div>