<!-- Search form -->
<div class="row card border-card">
  <!--  HEADEER --->
  <div class="banner-question u-section-2">
    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">ADMINISTRADOR</h3>
    <h2 class="u-heading-font u-text u-text-2">PRINCIPAL</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
  </div>
  <!-- /HEADER -->

  <div class="tm-main row justify-content-md-center margin-x-0">

    <div class="col-12">
      <header class="section-header wow fadeInUp" style="margin-top:1rem">
        <h3>Te acompañaremos para que agregues tu Edificio </h3>
        <p style="padding-bottom: 10px; margin-top:10px;">Has seleccionado ser administrador de edificio, en caso de no
          serlo por favor <a href=""> presiona aqui.</a></p>
        <p style="padding-bottom: 10px; margin-top:10px;">Por favor ingrese el codigo de "Administrador de su edificio",
          entregado por DEPTOMIN, en caso de perderlo por favor contactarse con nosotros.</p>
      </header>
    </div>
    <div class="col-12 wow fadeInUp">
      <div class="form1-wrap ">
        <div class="form1-html">
          <a href="/"><img src="/img/logoprice.png" class=" mx-auto display-block m-4 login-logo" alt="" style="margin-bottom: 0px !important;"> </a>
          <div class="card-body form1-card-body">
            <div style="text-align: center;">
            <p class="form1-title">Ingresar</p>
            </div>

            <div class="form1-container">
              <form action="/administrador/addedificio" method="POST">
                <div class="group">
                  <label for="password_administrador" class="label">Contraseña</label>
                  <input type="password_administrador" class="password" name="password_administrador" placeholder="" autofocus>
                </div>
                <div class="group">
                  <input type="submit" class="button" value="INGRESAR">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                  <a href=""> Olvidaste la contraseña?</a>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>