<div class="row card border-card">
  <div class="banner-question u-section-2">
    <h3 class="u-heading-font u-text u-text-palette-1-base u-text-1">USUARIO</h3>
    <h2 class="u-heading-font u-text u-text-2">INGRESAR | REGISTRARSE</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
  </div>

  <div class="login-wrap">
    <div class="login-html">
      <a href="/"><img src="/img/logoprice.png" class=" mx-auto display-block m-4 login-logo" alt=""> </a>
      <div class="card-body card-body-signup">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingresar</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
        <div class="login-form">
          <div class="sign-in-htm">
            <form action="/users/signin" method="POST">
              <div class="group">
                <label for="name" class="label">Email</label>
                <input type="email" class="input" name="email" placeholder="" autofocus>
              </div>
              <div class="group">
                <label for="email" class="label">Contrase単a</label>
                <input type="password" class="input" name="password" placeholder="" autofocus>" />
              </div>
              <div class="group">
                <input type="submit" class="button" value="Ingresar">
              </div>
              <div class="hr"></div>
              <div class="foot-lnk">
                <a href="/users/recoverypass"> Olvidaste la contrase単a?</a>
              </div>
            </form>
          </div>
          <div class="sign-up-htm">
            <form action="/users/signup" method="POST">
              <div class="group">
                <label for="name" class="label">Nombre</label>
                <input type="text" class="input" name="name" placeholder="" value="{{name}}" />
              </div>
              <div class="group">
                <label for="email" class="label">Email</label>
                <input type="email" class="input" name="email" placeholder="" value="{{email}}" />
              </div>
              <div class="group">
                <label for="password" class="label">Contrase単a</label>
                <input type="password" class="input" name="password" placeholder="" value="{{password}}" />
              </div>
              <div class="group">
                <label for="confirmPassword" class="label">Repita Contrase単a</label>
                <input type="password" class="input" name="confirmPassword" placeholder="" value="{{confirmPassword}}" />
              </div>
              <div class="group">
                <input type="submit" class="button" value="Registrarse">
              </div>
              <div class="hr"></div>
              <div class="foot-lnk">
                 <a href="/users/residente/signin"> Eres administrador?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>